body{
     
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(./images/bg-cloud.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index:-1; 
     
}
.main-container{
    margin-top : 20px;
    z-index:1;
     
}
.left-container{
    border:3px solid black ;
    border-radius:7px ;
     
}
.right-container{
    border:3px solid black ;
    border-radius:7px ;
     
}
.image-css{
     height:100px;
     width: 100px;
}

h2{
    margin-top: 5px;
    font-family: MuseoModerno, Cursive;
}
.price-para{
    text-align : center;
    font-weight: bold;
    font-size: larger;
     
}

.btn-outline-success{
    justify-content: center;
}
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  h3{
      text-align: center;
      font-family: MuseoModerno, Cursive; 
  }
#shop_empty_warning{
    display:none;
    text-align:center;
}
#cart_empty_warning{
    display:inline;
    text-align:center;
}
#totalamt{
    display: none;
}
#totalhead{
    font-family: MuseoModerno, Cursive;
    font-weight : bold;
}